# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environments
travel

# Django stuff:
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3
media/
staticfiles/

# VS Code files
.vscode/

# Pytest cache
.pytest_cache/

# MyPy
.mypy_cache/

# Django migrations
**/migrations/*.pyc
**/migrations/__pycache__/
**/migrations/*.py
!**/migrations/__init__.py

# dotenv
.env

# macOS and Linux
.DS_Store
Thumbs.db

# Git
.git/
